<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.believesun.mysqltrain.mapper.LoginMapper">
    <select id="selectUserByUsername" resultType="user">
        SELECT id, name, password FROM admin WHERE name = #{username}
        UNION ALL
        SELECT id, name, password FROM reader WHERE name = #{username};

    </select>
</mapper>